@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url("../assets/fonts/roboto.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Mono'), local('RobotoMono-Regular'), url("../assets/fonts/roboto-mono.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

body {
  font-family: 'Roboto';
  font-size: 12px;
}

#WINDOW-TEMPLATES {
	display: none;
}


#GameBoy {
	position: absolute;
	top: 0;
	left: 0;
}

#GameBoy,
#mainCanvas {
	width: 160px;
	height: 144px;
}


.memory-link {
	cursor: pointer;
  font-family: 'Roboto Mono';
}

.memory-link:hover,
.memory-link:hover * {
	text-decoration: underline !important;
	color: #00F;
}

button {
  border: none;
  background-color: transparent;
  border-radius: 4px;
  transition: background-color .2s ease-out;
}

button:hover {
  cursor: pointer;
  background-color: #66ffa6;
}