#WINDOW-TEMPLATES {
	display: none;
}


#GameBoy {
	position: absolute;
	top: 0;
	left: 0;
}

#GameBoy,
#mainCanvas {
	width: 160px;
	height: 144px;
}


.memory-link {
	cursor: pointer;
}

.memory-link:hover,
.memory-link:hover * {
	text-decoration: underline !important;
	color: #00F;
}