<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US">
    <head>

        <!-- Dependencies -->
        <link href='css/normalize.css' rel='stylesheet'>
        <script type="text/javascript" src="js/lib/pubsub.js"></script>
        <script type="text/javascript" src="js/lib/vue.js"></script>
        <script type="text/javascript" src="js/lib/gui.js"></script>
        <script type="text/javascript" src="js/lib/debugger.js"></script>
        <script type="text/javascript" src="js/lib/resampler.js"></script>
        <script type="text/javascript" src="js/lib/XAudioServer.js"></script>

        <!-- Components -->
        <link href='css/component/window.css' rel='stylesheet'>
        <script src="js/component/window.js" type="text/javascript" ></script>
        <link href='css/component/scrollbar.css' rel='stylesheet'>
        <script src="js/component/scrollbar.js" type="text/javascript" ></script>

        <!-- Window Programs -->
        <script src="js/program/DebugLCDProgram.js" type="text/javascript" ></script>
        <script src="js/program/DebugMemoryProgram.js" type="text/javascript" ></script>
        <script src="js/program/DebugStateProgram.js" type="text/javascript" ></script>
        <script src="js/program/DebugExecutionProgram.js" type="text/javascript" ></script>
        <script src="js/program/DebugBreakpointProgram.js" type="text/javascript" ></script>

        <!-- Require Emulation Core -->
        <script type="text/javascript" src="js/emulation/core.js"></script>

        <!-- Require Awakening Layer -->
        <link href='css/awakening.css' rel='stylesheet'>
        <script type="text/javascript" src="js/awakening/awakening.js"></script>
        <script type="text/javascript" src="js/awakening/GameBoyIO.js"></script>
        
        <!-- Load Emulation State -->
        <script type="text/javascript" src="assets/rom/la_rom.js"></script>
        <script type="text/javascript" src="assets/rom/la_savestate.js"></script>

        <title>Awakening</title>
    </head>
    <body>

        <div id="WINDOW-TEMPLATES">

            <!-- Memory Window Template -->
            <div class="debug-memory-template">
                <div class='memory-row' v-for="row in memory_rows" v-bind:data-address="row.address" >
                    <div class='memory-label'>{{row.label}}</div>
                    <div class='memory-address'>{{row.address}}</div>
                    <div class='memory-values'>
                        <div class='memory-value' v-for="col in row.columns" v-bind:data-address="col.address">{{col.value}}</div>
                    </div>
                </div>
            </div>
            
            <!-- State Window Template -->
            <div class="debug-state-template">
                <div class='debug-registers'>
                    <div class='register-row' v-for="row in register_rows">
                        <div class='register-key'>{{row.register}}</div>
                        <div class='register-value'>{{row.value}}</div>
                    </div>
                </div>

                <div class='debug-stack'>
                    <div class='stack-row' v-for="row in stack_rows"  v-bind:class="{ current: row.current }">
                        <div class='stack-label'>{{row.label}}</div>
                        <div class='stack-address memory-link'>{{row.address}}</div>
                        <div class='stack-values memory-link'>
                            <div class='stack-value' v-for="value in row.values">{{value}}</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Execution Window Template -->
            <div class='debug-execution-template'>
                <div class='execution-toolbar'>
                    <button class='execution-play'>►</button>
                    <button class='execution-pause'>‖</button>
                    <button class='execution-step'>→</button>
                </div>
                <div class='execution-row' v-for="row in op_rows" v-bind:class="{ current: row.current }">
                    <div class='execution-label'>{{row.label}}</div>
                    <div class='execution-address'>{{row.address}}</div>
                    <div class='execution-opcode'>{{row.opcode}}</div>
                    <div class='execution-instruction'>{{row.instruction}}</div>
                </div>
            </div>

        </div>
    </body>
</html>