<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US">
    <head>

        <link href='css/normalize.css' rel='stylesheet'>

        <!-- Require Dependencies -->
        <script type="text/javascript" src="js/lib/vue.js"></script>
        <script type="text/javascript" src="js/lib/gui.js"></script>
        <script type="text/javascript" src="js/lib/debugger.js"></script>
        <script type="text/javascript" src="js/lib/resampler.js"></script>
        <script type="text/javascript" src="js/lib/XAudioServer.js"></script>
        
        <!-- Require Emulation Core -->
        <script type="text/javascript" src="js/emulation/GameBoyCore.js"></script>

        <!-- Require Awakening Layer -->
        <link href='css/awakening.css' rel='stylesheet'>
        <script type="text/javascript" src="js/awakening/awakening.js"></script>
        <script type="text/javascript" src="js/awakening/GameBoyIO.js"></script>
        
        <!-- Load Emulation State -->
        <script type="text/javascript" src="assets/rom/la_rom.js"></script>
        <script type="text/javascript" src="assets/rom/la_savestate.js"></script>

        <title>Awakening</title>
    </head>
    <body>
        <div id="GameBoy" class="window">
            <canvas id="mainCanvas"></canvas>
        </div>
        <div id="debug-memory-window" class="window"></div>
        
        <div class="debug-state-window" class="window">
            <div class='debug-registers'>
                <div class='register-row' v-for="row in register_rows">
                    <div class='register-key'>{{row.register}}</div>
                    <div class='register-value'>{{row.value}}</div>
                </div>
            </div>

            <div class='debug-stack'>
                <div class='stack-row' v-for="row in stack_rows"  v-bind:class="{ current: row.current }">
                    <div class='stack-address'>{{row.address}}</div>
                    <div class='stack-values' v-for="value in row.values">
                        <div class='memory-value'>{{value}}</div>
                    </div>
                </div>
            </div>
        </div>

         <div class='debug-execution-window'>
            <div class='execution-row' v-for="row in op_rows" v-bind:class="{ current: row.current, parameter: row.parameter }">
                <div class='execution-label'>{{row.label}}</div>
                <div class='execution-address'>{{row.address}}</div>
                <div class='execution-opcode'>{{row.opcode}}</div>
                <div class='execution-instruction'>{{row.instruction}}</div>
            </div>
        </div>
    </body>
</html>