.popup {
	position: absolute;
}

.popup input {
	box-sizing: content-box;
	border: 0;
	padding: 4px;
	margin: 0;
	font-family: monospace;
	background-color: #BBDEFB;
	outline: 0;
	position: relative;
	top: -4px;
	left: -4px;
	border: 1px solid #000;
	border-radius: 2px;
}