.popup {
	position: absolute;
}

.popup input {
	box-sizing: content-box;
	border: 0;
	padding: 4px;
	margin: 0;
	font-family: monospace;
	background-color: #BBDEFB;
	outline: 0;
	position: relative;
	top: -4px;
	left: -4px;
	border: 1px solid #000;
	border-radius: 2px;
}
.popup ul li {
	white-space: nowrap;
	cursor: pointer;
	display: block;
	padding: 5px 10px;
}


.popup ul li:hover {
	background-color: #3d5aff;
	color: #FFF;
}

.popup ul {
	box-shadow: 1px 1px 3px #000, inset 1px 1px 0 #777;
	background-color: #ccc;
	padding: 0;
}
