.tooltip {
	position: relative;
}

.tooltip::after {
	content: attr(data-tooltip);
	position: absolute;
	top: 50%;
	left: -10%;
	width: 120%;
	overflow: hidden;
	background-color: #FFF;
	border: 1px solid #000;
	border-radius: 3px;
	transform: translateY(-50%);
	transition: transform .1s ease-out;
	line-height: 8px;
	font-size: 8px;
	padding: 2px 1px;
	text-align: center;
	vertical-align: middle;
}

.tooltip:hover::after {
	transform: translateY(-150%);
	width: auto;
	font-size: 12px;
	line-height: 15px;
	white-space: nowrap;
	padding: 0 10px;
}