.window {
	position: absolute;
	overflow: hidden;
	padding: 2px 2px 2px 2px;
	box-sizing: border-box;
}

.window .window-padding {
	position: relative;
	width: 100%;
	height: 100%;
	box-shadow: 1px 1px 2px #0031cb;
	border-radius: 5px;
	border-top-right-radius: 2px;
	border-top-left-radius: 2px;
	overflow: hidden;
	border: 1px solid #0031cb;	
	background-color: #fafafa;
}

.window .window-titleBar {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 20px;
	background-color: #3d5aff;
	padding-top: 4px;
}

.window .window-titleBar::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 4px;
	background-color: #0031cb;
}

.window .window-titleName {
	color: #FFF;
	font-family: 'Roboto', monospaced;
	padding: 2px 0 0 4px;
	font-size: 10px;
	text-transform: uppercase;
	cursor: default;
}

.window .program-window {
	position: absolute;
	top: 20px;
	left: 0;
	width: 100%;
	height: calc(100% - 20px);
	border-top: none;
}