.debug-memory-window {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	padding-left: 5px;
	font-family: 'Roboto Mono';
}

.memory-row {
	line-height: 20px;
	user-select: none;
}

.symbol-row {
	position: relative;
	height: 20px;
}

.memory-row .symbol {
	position: absolute;
	top: 0;
	left: 0;
	transform: translateX(-50%);
	font-size: 10px;
	left: 0;
	color: transparent !important;
}

.symbol.tooltip::after {
	color: #000;
}

.symbol.tooltip:hover {
	z-index: 999;
    transition: left .1s ease-out, transform .1s ease-out;
}
.symbol.tooltip:hover::after {
	transform: translateY(-100%) translateX(-50%);
	left: 50%;
}



.memory-label,
.memory-values,
.memory-address {
	display: inline-block;
}

.memory-value {
	display: inline-block;
	padding: 0 7px;
}
.memory-value.selected {
	background-color: rgba(255,0,0,.2);
}
.memory-value.breakpoint {
	border: 1px solid #F00;
}
