
.trace-address,
.trace-type {
	display: inline-block;
}

.trace-row {
	line-height: 20px;
	font-family: 'Roboto Mono';
}

.trace-stop:hover,
.trace-stop.selected {
	background-color: rgba(255,0,0,.2);
}

.trace-start.selected {
	background-color: rgba(0,255,0,.4);
}

.trace-from,
.trace-to {
	display: inline-block;
}