.debug-memory-window {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	font-family: 'Roboto Mono';
}

/* Tabs */

.memory-region-tabs,
.memory-rows {
	position: relative;
	height: calc( 100% - 51px );
}

.memory-region-tab {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	background-color: #FFF;
	display: none;
}

.memory-region-tab.selected {
	display: block;
}

/* Rows */

.memory-row-header,
.memory-row {
	padding-left: 30px;
}


.memory-row-header {
	background-color: #ccc;
}
.memory-row-header span {
	font-weight: bold;
}


.memory-row {
	line-height: 20px;
	user-select: none;
	position: relative;
}

.memory-row::before {
	content: attr(data-address-hex);
	position: absolute;
	bottom: 0;
	left: 0;
}

.memory-row-header,
.memory-symbols,
.memory-bytes {
	width: 100%;
}


.memory-symbols::after {
	content: '';
	display: block;
	height: 0;
	clear: both;
}

/* Cells */

.memory-row-header span,
.memory-symbol,
.memory-byte {
	display: inline-block;
	text-align: center;
	width: 33px;
}
.memory-byte.selected {
	background-color: rgba(0,0,255,.2);
}
.memory-byte.breakpoint {
	border: 1px solid #F00;
}


.memory-symbol {
	font-size: 10px;
	line-height: 12px;
	text-align: center;
	color: #000;
	letter-spacing: -1px;
	float: left;
	min-height: 1px;
	vertical-align: bottom;
	overflow: hidden;
	padding: 0 3px;
}
